@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Courgette&family=Dancing+Script:wght@400;700&family=Fredericka+the+Great&family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
body{
	padding: 0;
	height: 100vh;
	align-items: center;
	justify-content: center;
	
	background: url('City[2560×1440].jpg');
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

h1{
	font-family: 'Caveat Brush', cursive;
	position: absolute;
	display: flex;
	margin: 20px -100px;
	left: 25%;
	padding: 0;
	color: #111;
	font-size: 7em;	
}
h1 span{
	display: table-cell;
	margin: 0;
	padding: 0;
	animation: animate 2s linear infinite;
}
h1 span:nth-child(1)
{
	animation-delay: 0s;
}
h1 span:nth-child(2)
{
	animation-delay: 0.25s;
}
h1 span:nth-child(3)
{
	animation-delay: 0.5s;
}
h1 span:nth-child(4)
{
	animation-delay: 0.75s;
}
h1 span:nth-child(5)
{
	animation-delay: 1s;
}
h1 span:nth-child(6)
{
	animation-delay: 1.25s;
}
h1 span:nth-child(7)
{
	animation-delay: 1.5s;
}
h1 span:nth-child(8)
{
	animation-delay: 1.75s;
}
h1 span:nth-child(9)
{
	animation-delay: 1.75s;
}
h1 span:nth-child(10)
{
	animation-delay: 1.75s;
}
h1 span:nth-child(11)
{
	animation-delay: 0s;
}
h1 span:nth-child(12)
{
	animation-delay: 0.25s;
}
h1 span:nth-child(13)
{
	animation-delay: 0.5s;
}
h1 span:nth-child(14)
{
	animation-delay: 0.75s;
}
h1 span:nth-child(15)
{
	animation-delay: 1s;
}
h1 span:nth-child(16)
{
	animation-delay: 1.25s;
}
h1 span:nth-child(17)
{
	animation-delay: 1.5s;
}
h1 span:nth-child(18)
{
	animation-delay: 1.75s;
}

@keyframes animate
{
		0%,100%
		{
			color: #fff;
			filter: blur(2px);
			text-shadow: 0 0 10px #00b3ff;
						0 0 20px #00b3ff;
						0 0 40px #00b3ff;
						0 0 80px #00b3ff;
						0 0 120px #00b3ff;
						0 0 200px #00b3ff;
						0 0 300px #00b3ff;
						0 0 400px #00b3ff;
						0 0 10px #00b3ff;
						0 0 20px #00b3ff;
						0 0 40px #00b3ff;
						0 0 80px #00b3ff;
						0 0 120px #00b3ff;
						0 0 200px #00b3ff;
						0 0 300px #00b3ff;
						0 0 400px #00b3ff;
						0 0 10px #00b3ff;
						0 0 20px #00b3ff;
						0 0 40px #00b3ff
		}
		5%,95%
		{
			color: #111;
			filter: blur(0px);
			text-shadow: 0 0 10px none;
		}
}

.container h2{
	width: 100%;
	position: absolute;
	top: -35%;
	left: 23%;
	transform: translate(-50%,-50%);
	margin: 30%;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: white;
	font-family: 'Dancing Script', cursive;
	
}
/*
.count{
	margin: 40px 0;
}
*/
.countd{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 5%;
	font-size: 20px;
	overflow: hidden;
	color: white;
	text-align: center;
	border: 3px solid;
	font-family: 'Fredericka the Great', cursive;
	
	/*
	border-radius: 50%;
	border: 2px solid;
	*/
}
.countd span{
	display: block;
	font-size: 50px;
	margin-top: 1px;
}
.text h3{
	width: 100%;
	position: absolute;
	top: -35%;
	left: 23%;
	transform: translate(-50%,-50%);
	margin: 30%;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: white;
	font-family: 'Dancing Script', cursive;
}
.banner{
	position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.button-hover {
	
	 justify-content: center;
	 align-items: center;
	 padding: 0.3em;
	 height: 10vh;
	 position: relative;
	 min-width: 230px;
	 margin: 6em;
	 background: linear-gradient(to right, #56ccf2, #2f80ed);
	 border: 0;
	 cursor: pointer;
	 border-radius: 20px;
}
.button-hover::before, 
.button-hover::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	border-radius: 20px;
	transition: all .5s ease-in-out;
}
.button-hover:hover::before{
	filter: blur(5px);
}
.button-hover:hover::after{
	filter: blur(15px);
}
.button-hover:hover{
	animation: hue 3s linear infinite;
}
@keyframes hue{
	0%{
		filter:hue-rotate(0deg);
	}
	100%{
		filter:hue-rotate(360deg);
	}
}
.button-hover span{
	position: relative;
	z-index: 3;
	display: block;
	padding: 1.6em;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	background-color: #2c2e36;
	border-radius: 17px;
}
.info{
	text-align: center;
	color: white;
	align-items: center;
	justify-content: center;
	 position: fixed;
    bottom: 0;
}